.mainsection{
    margin: 15px 0 0px 0 auto;
}
.title{
<<<<<<< HEAD
    margin-left: 60px;
=======
    margin-left: 65px;
>>>>>>> a89e8b0b378376f5f1db0d2dafd3a8669b8eb9c4
    margin-top: 90px;
    font-family: 'Mona Sans', sans-serif;
    font-weight: 500;

}