.footersection{
    margin: 0;
    background: #026880;
}
.footerlogo{
    margin-left: 5%;
    margin-top: 2%;
}
.divider{
    width:1200px;
    display: flex;
    justify-content: center;
    background-color: #c2b9b9;
    height: 2px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;
    margin-bottom: 2%;
    
}
.menuicon{
   display: flex;
   justify-content: space-around;
}
.menu{
    display: flex;
    justify-content: left;
}
.iconmain{
    margin: 0;
}
.menumain{
    margin: 0;
}
.menu li{
    list-style-type: none;
    color: #fff;
    padding-left: 5%;    
}
.iconmenu{
    display: flex;
}
.iconmenu li{
    list-style-type: none;
}