/* ProductForm.module.css */
.container {
    display: flex;
  }
  
  .formContainer {
    flex: 1;
    padding: 20px;
    margin-left: 280px; /* Adjust if necessary to offset the sidebar */
    max-width: 1000px;
  }
  
  .formTitle {
    text-align: center;
    margin-bottom: 20px;
    color: #026880;
  }
  
  .formSteps {
    margin-bottom: 20px;
  }
  
  .formSection {
    background: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .sectionTitle {
    margin-bottom: 10px;
    color: #026880;
  }
  
  .formItem {
    margin-bottom: 16px;
  }
  
  .buttonGroup {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .primaryButton {
    background-color: #026880;
    border-color: #026880;
    color: white;
    margin-left: 0;
  }
  .secondaryButton {
    background-color: #026880;
    border-color: #026880;
    color: white;
    margin-right: 0;
  }
  .primaryButton:hover, 
  .primaryButton:focus {
    background-color: #024f61;
    border-color: #024f61;
  }
  
  .addButton {
    margin-top: 10px;
  }
  